/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo básico do body para todas as páginas */
body {
  font-family: "Poppins", sans-serif;
  background-color: #2e2b40;
  color: #e8e8e8;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Garantir que o main ocupe o espaço restante da tela */
main {
  flex-grow: 1;
}

/* Fontes globais para títulos */
h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}
