@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	scroll-padding: 5rem;
	color-scheme: dark;
}

:root {
	--background: #0f1c2e;
	--foreground: #f5f7fa;
	--accent: #ff6b6b;
	--muted: #a0aec0;
	--primary: #1b3a4b;
	--secondary: #b8e0d2;
	--extra-blue: #007ea7;
	--nav: #2b4f63;
	--gradient-shadow: linear-gradient(
		45deg,
		#99f6ff,
		#3d34ad,
		#6634ad,
		#9b34ad
	);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #00171f;
		--foreground: #f5f7fa;
		--accent: #ff6d00;
		--muted: #a0aec0;
		--primary: #003459;
		--secondary: #00a8e8;
		--extra-blue: #007ea7;
		--nav: #2b4f63;
		--gradient-shadow: linear-gradient(
			45deg,
			#99f6ff,
			#3d34ad,
			#6634ad,
			#9b34ad
		);
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

.wrapper {
	@apply h-full max-w-[90%] md:max-w-[80%] lg:max-w-[70%] xl:max-w-[1310px] mx-auto;
}

.card {
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
	box-shadow: inset 2px 2px 5px 0px rgba(255, 255, 255, 0.4);
}

.blob {
	filter: drop-shadow(0px 0px 1px #00000050);
}

/*******************************************HEADER********************************************/
#nav-header {
	display: flex;
}

#header-menu-button,
#menu-wrapper {
	display: none;
}

@media screen and (max-width: 1300px) {
	#nav-header {
		display: none;
	}

	#header-menu-button,
	#menu-wrapper {
		display: flex;
	}
}

#nav-side {
	box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0.7);
}

.active-link {
	color: var(--accent);
	transform: scale(1.05);
}

/*******************************************MAIN SECTION********************************************/
/* #home::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0.1;
	background-color: var(--primary);
} */

/* background-image: url("/fabric-background.webp"); */
/* background-size: 140% 140%; */
/* background-position: center; */
/* #home::after {
	top: 0;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	opacity: 0.85;
} */

#home::before {
	content: "";
	position: absolute;
	background-image: url("/soft-fabric-background.webp");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: var(--primary);
}

.main-blob {
	scale: 5;
}

@media (max-width: 600px) {
	.main-blob {
		scale: 3;
	}
}

.Typewriter__wrapper,
.Typewriter__cursor {
	line-height: 1;
	@apply text-[1.3rem] md:text-[2.75rem];
}

.Typewriter__mobile {
	@apply text-accent;
}

.Typewriter__desktop {
	@apply text-accent;
}

.Typewriter__web {
	@apply text-accent;
}

#main-section {
	min-width: 700px;
}

@media screen and (max-width: 1430px) {
	#home {
		height: fit-content;
	}

	#home > div.wrapper {
		flex-direction: column;
	}

	#main-section {
		min-width: 100%;
	}
}

@media screen and (max-width: 350px) {
	#main-section > div > p,
	.Typewriter__wrapper,
	.Typewriter__cursor {
		@apply text-[1.3rem];
	}
}

/***********************************ABOUT ME*****************************************/
#about-me-div span:not(.not-link):hover {
	cursor: pointer;
}

/***********************************PROJECTS*****************************************/
.svg-background {
	position: relative;
	isolation: isolate;
}

.svg-background::before {
	content: "";
	position: absolute;
	inset: 0;
	/* Background by: https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */
	background-image: url("/endless-constellation.svg");
	box-shadow: inset 0px 0px 38px 40px var(--background);
	opacity: 0.5;
	z-index: -1;
}
.project {
	@apply relative h-auto w-full xl:w-[48%] bg-black rounded-2xl transition-all ease-in-out duration-200 my-10 select-none;
}

.project:last-child:nth-of-type(odd) {
	@apply mx-auto;
}

/********************************RAINBOW SHADOW*************************************/
@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.animated-shadow::before,
.animated-shadow::after {
	content: "";
	position: absolute;
	border-radius: 1rem;
	top: -2px;
	left: -2px;
	background-image: conic-gradient(
		from var(--angle),
		#99f6ff,
		#3d34ad,
		#6634ad,
		#9b34ad,
		#99f6ff
	);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: shadow-animation 5s linear infinite;
}

.animated-shadow:is(.minimalistic):before,
.animated-shadow:is(.minimalistic):after {
	animation: shadow-animation 10s linear infinite;
}

.animated-shadow::after {
	filter: blur(13px);
	transition: all 0.2s ease-in-out;
}

.animated-shadow:is(.minimalistic):after {
	filter: blur(5px);
}

@keyframes shadow-animation {
	from {
		--angle: 0deg;
	}

	to {
		--angle: 360deg;
	}
}

/***********************************SOLUTIONS*****************************************/
.solution-card {
	@apply flex-col;
}

.solution-card:nth-child(even) {
	@apply md:flex-row-reverse;
}

.solution-card:nth-child(odd) {
	@apply md:flex-row;
}

.solution-card:not(:first-child) {
	@apply mt-28;
}

/**********************************FOOTER***********************************/
.to-start {
	font-size: 1rem;
}

@media screen and (max-width: 1300px) {
	.to-start {
		transform: translateY(5rem);
		font-size: 0.7rem;
	}
}

@media screen and (max-width: 780px) {
	.to-start {
		transform: translateY(6rem);
		font-size: 0.4rem;
	}
}
