@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--light-blue: #00a8e8;
	--extra-blue: #007ea7;
	--blue-hover: #0f6086;
	--light-contrast: #f5f7fa;
	--fixed-button: #ff6d00;
	--fixed-button-hover: #af4c00;
	--shadow-gradient: #00acf0, #007ea7, #004f88, #004f88, #007ea7, #00acf0;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 5rem;
	color-scheme: light dark;
}

html,
html.light {
	--background: #f7f9fc;
	--foreground: #003244;
	--accent: #00a8e8;
	--muted: #515963;
	--primary: #003244;
	--secondary: #ff6d00;
	--nav: #e2e2e2;
	--nav-hover: #d4d4d4;
	--primary-button: #00a8e8;
	--primary-button-hover: #0f6086;
	--secondary-button: #ff6d00;
	--secondary-button-hover: #af4c00;
	--hero-bg: #ececec;
}

html.dark {
	--background: #00171f;
	--foreground: #f5f7fa;
	--accent: #ff6d00;
	--muted: #a0aec0;
	--primary: #003459;
	--secondary: #00a8e8;
	--nav: #002633;
	--nav-hover: #003446;
	--primary-button: #ff6d00;
	--primary-button-hover: #af4c00;
	--secondary-button: #00a8e8;
	--secondary-button-hover: #0f6086;
	--hero-bg: #003459;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

.wrapper {
	@apply h-full max-w-[90%] md:max-w-[80%] lg:max-w-[70%] xl:max-w-[1310px] mx-auto;
}

.card {
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
	box-shadow: inset 2px 2px 5px 0px rgba(255, 255, 255, 0.4);
}

.blob {
	filter: drop-shadow(0px 0px 1px #00000050);
}

/*******************************************HEADER********************************************/
#nav-header {
	display: flex;
}

#header-menu-button,
#menu-wrapper {
	display: none;
}

@media screen and (max-width: 1300px) {
	#nav-header {
		display: none;
	}

	#header-menu-button,
	#menu-wrapper {
		display: flex;
	}
}

#nav-side {
	box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0.7);
}

.active-link {
	color: var(--fixed-button);
	transform: scale(1.05);
}

/*******************************************MAIN SECTION********************************************/
/* #home::before {
	content: "";
	position: absolute;
	background-image: url("/meu_portfolio/soft-fabric-background.webp");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: var(--hero-bg);
}

html.dark #home::before {
	background-color: var(--hero-bg);
	background-image: url("/meu_portfolio/soft-fabric-background.webp");
}

html.light #home::before {
	background-color: var(--hero-bg);
	background-image: url("/meu_portfolio/soft-fabric-background-light.webp");
}
 */
/* @media screen and (max-width: 1280px) {

	html.dark #home::before {
		background-image: url("/meu_portfolio/soft-fabric-background-mobile.webp");
	}

	html.light #home::before {
		background-image: url("/meu_portfolio/soft-fabric-background-light-mobile.webp");
	}
} */

.main-blob {
	scale: 5;
}

@media (max-width: 600px) {
	.main-blob {
		scale: 3;
	}
}

.Typewriter__wrapper,
.Typewriter__cursor {
	line-height: 1;
	@apply text-[1.3rem] md:text-[2.75rem] text-accent;
}

#main-section {
	min-width: 700px;
}

@media screen and (max-width: 1430px) {
	#home {
		height: fit-content;
	}

	#home > div.wrapper {
		flex-direction: column;
	}

	#main-section {
		min-width: 100%;
	}
}

@media screen and (max-width: 350px) {
	#main-section > div > p,
	.Typewriter__wrapper,
	.Typewriter__cursor {
		@apply text-[1.3rem];
	}
}

/***********************************ABOUT ME*****************************************/
#about-me-div span:not(.not-link):hover {
	cursor: pointer;
}

/***********************************SOLUTIONS*****************************************/
.solution-card {
	@apply flex-col;
}

.solution-card:nth-child(even) {
	@apply xl:flex-row-reverse;
}

.solution-card:nth-child(odd) {
	@apply xl:flex-row;
}

.solution-card:not(:first-child) {
	@apply mt-20 xl:mt-28;
}

/***********************************PROJECTS*****************************************/
.svg-background {
	position: relative;
	isolation: isolate;
}

.svg-background::before {
	content: "";
	position: absolute;
	inset: 0;
	/* Background by: https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */
	background-image: url("./endless-constellation.svg");
	box-shadow: inset 0px 0px 38px 40px var(--background);
	opacity: 0.5;
	z-index: -1;
}

html.dark .svg-background::before {
	/* Background by: https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */
	background-image: url("./endless-constellation.svg");
}

html.light .svg-background::before {
	/* Background by: https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */
	background-image: url("./endless-constellation-light.svg");
}

.project {
	@apply relative h-auto w-full xl:w-[48%] bg-black rounded-2xl my-10 select-none;
}

.project:last-child:nth-of-type(odd) {
	@apply mx-auto;
}

.project:not(.mobile):hover {
	@apply minimalistic animated-shadow;
}

.project.mobile {
	@apply minimalistic animated-shadow;
}

/********************************RAINBOW SHADOW*************************************/
@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.animated-shadow::before,
.animated-shadow::after {
	content: "";
	position: absolute;
	border-radius: 1rem;
	top: -2px;
	left: -2px;
	background-image: conic-gradient(from var(--angle), var(--shadow-gradient));
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: shadow-animation 5s linear infinite;
}

.animated-shadow:is(.minimalistic):before,
.animated-shadow:is(.minimalistic):after {
	animation: shadow-animation 10s linear infinite;
}

.animated-shadow::after {
	filter: blur(13px);
	transition: all 0.2s ease-in-out;
}

.animated-shadow:is(.minimalistic):after {
	filter: blur(5px);
}

@keyframes shadow-animation {
	from {
		--angle: 0deg;
	}

	to {
		--angle: 360deg;
	}
}

/**********************************FOOTER***********************************/
.to-start {
	font-size: 1rem;
}

@media screen and (max-width: 780px) {
	.to-start {
		transform: translateY(5rem);
		font-size: 0.7rem;
	}
}

@media screen and (max-width: 500px) {
	.to-start {
		transform: translateY(6rem);
		font-size: 0.4rem;
	}
}

/**********************LOADER**************************/
.loading-screen {
	background: linear-gradient(-45deg, #00171f 40%, #001d27 50%, #00171f 60%);
	background-size: 300%;
	background-position-x: 100%;
	animation: shimmer 3s infinite linear;
	@apply h-screen w-screen flex justify-center items-center fixed top-0 left-0 z-[999] transition-opacity duration-1000 pointer-events-none;
}

@keyframes shimmer {
	0% {
		background-position-x: 100%;
	}
	66% {
		background-position-x: 0%;
	}
	/* PAUSA */
	100% {
		background-position-x: 0%;
	}
}

.loader {
	width: 100px;
	aspect-ratio: 1;
	border-radius: 9999px;
	border: 10px solid #a0aec0;
	border-right-color: #ff6d00;
}

.loader:not(.loaded) {
	animation: l2 1s infinite linear;
}

@keyframes l2 {
	to {
		transform: rotate(1turn);
	}
}

.wavy-text {
	@apply text-lg md:text-2xl font-semibold tracking-widest;
}

.wavy-text span {
	display: inline-block;
}

.wavy-text:not(.loaded) span {
	animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-2px);
	}
}
